<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}"
          rel="stylesheet" >
</head>
<body>

<div class="card">
    <div class="card-header">
        CALCULADORA IMC
    </div>
    <div class="card-body">
        <!-- th:action = (se usa @) resuelve una ruta definida en el controlador
             th:object = (se usa $)mapea un objeto enviado desde el contralador  -->
        <form th:action="@{/calcularimc}" method="post"
                th:object="${imcmodel}">
            <div class="mb-3">
                <label for="txttalla" class="form-label">Ingrese su Talla:</label>
                <input type="number" th:field="*{talla}" class="form-control" id="txttalla" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtpeso" class="form-label">Ingrese su peso:</label>
                <input type="number" th:field="*{peso}" class="form-control" id="txtpeso" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-primary">CALCULAR</button>
        </form>
    </div>
</div>

</body>
</html>